* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --border-primary-color: #cccccc37;
}

body {
  background-color: #15202b;
  font-family: 'Inter', sans-serif;
}

main {
  width: 540px;
  /* height: 100vh; */
  margin: 0 auto;
  border: 1px solid var(--border-primary-color);
  border-top: transparent;
  color: lightgray;
}

.tweet-container {
  .profile-container {
    display: flex;
    /* border: 1px solid white; */
    align-items: center;
  }

  textarea {
    width: 300px;
    height: 120px;
    background-color: transparent;
    border: none;
    resize: none;
    font-family: inherit;
    display: block;
    padding: 12px;
    color: whitesmoke;
    font-weight: 500;
    font-size: 1rem;
  }

  textarea:focus {
    outline: none;
  }

  textarea::placeholder {
    font-size: 1rem;
  }

  button {
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    margin-left: auto;
    display: block;
    font-weight: 600;
    font-family: inherit;
    background-color: #09f;
    color: whitesmoke;
    cursor: pointer;
  }
}

.tweet-footer {
  /* border: 1px solid white; */
  display: flex;
  align-items: center;

  .tweet-container_icons {
    margin-left: 32px;
    display: flex;
    gap: 12px;
    color: #09f;
    cursor: pointer;
  }
}

.profile-img {
  align-self: flex-start;
  width: 64px;
  height: auto;
  border-radius: 50%;
}

.container {
  padding: 18px;
}

.home-container,
.tweet-container,
.tweet {
  border-bottom: 1px solid var(--border-primary-color);
}

.home-container > h1 {
  font-size: 24px;
}

/* Feed */

.tweet {
  padding: 18px;
}

/* .feed {
  border-bottom: transparent;
} */

.profile-pic {
  width: 58px;
  border-radius: 50%;
  align-self: flex-start;
}

header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tweet-information {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.username-content {
  display: flex;
  gap: 4px;
  height: 32px;
  align-items: center;
}

.username {
  font-size: 0.9rem;
  color: #ccccccf1;
}

.handle {
  font-size: 0.8rem;
  color: #cccccc6d;
}

.tweet-text {
  line-height: 24px;
  color: whitesmoke;
}

.tweet-information footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet-information footer i {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #cccccc95;
  cursor: pointer;
  /* transition: color 0.4s linear; */
}

.tweet-information footer i span {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: rgba(245, 245, 245, 0.833);
}

.liked {
  color: red !important;
}

.retweeted {
  color: limegreen !important;
}

.reply-container {
  padding: 20px 48px 20px 48px;
  display: flex;
  gap: 8px;
  border-bottom: 1px solid var(--border-primary-color);
}

/* .reply-container:nth-child(2) {
  border-bottom: none;
} */

.hidden {
  display: none;
}

.remove-tweet {
  position: relative;
  display: block;
  text-align: right;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.confirm-inner {
  text-align: center;
  width: 280px;
  height: 120px;
  padding: 20px;
  /* border: 1px solid whitesmoke; */
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 8px;
  background-color: #15181b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.buttons button {
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  font-family: inherit;
  font-size: 0.7rem;
  font-weight: 700;
  cursor: pointer;
}

.buttons button:nth-child(1) {
  background-color: #e63946;
  color: whitesmoke;
}

.buttons button:nth-child(2) {
  background-color: #f1f1f1;
  color: #333;
}

.hidden-modal {
  display: none;
}
